.nav-links > ul {
  margin: 0px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.header-nav-links {
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  position: fixed;
  z-index: 100;
  border-bottom: thin white solid;
}

/* Principio de menú desplegable */
.dropdown {
  position: relative;
}
.dropdown-title {
  padding: 20px;
  color: rgb(227, 227, 227);
}
.dropdown-title:hover {
  background-color: rgb(187, 181, 181);
  color: black;
}
.dropdown-content {
  display: none;
  position: absolute;
  width: inherit;
}
.dropdown:hover .dropdown-content {
  display: block;
  background-color: black;
}
.dropdown-content a {
  display: block;
  color: aliceblue;
  padding: 20px;
}
.dropdown-content a:hover {
  background-color: rgb(187, 181, 181);
  color: black;
}
/* Fin de menú desplegable */

.market-surveys a,
.inventory a,
.contact a,
.main-menu a {
  display: block;
  color: white;
  padding: 20px;
}

.market-surveys a:hover,
.inventory a:hover,
.contact a:hover,
.main-menu a:hover {
  background-color: rgb(187, 181, 181);
  color: black;
}

.presentation {
  margin-bottom: 20px;
  padding-top: 100px;
}

.presentation-text {
  width: 80%;
  margin: auto;
}
