.worker-detail-form-and-buttons {
  display: flex;
  justify-content: space-around;
  padding-top: 80px;
}

.worker-detail-form {
  border: thin solid white;
  color: rgb(224, 222, 222);
  padding: 30px;
  background-color: rgba(112, 105, 105, 0.6);
  border-radius: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.buttons {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.buttons > * {
  margin-top: 20px;
}

p {
  margin-top: 20px;
}

a {
  text-decoration: none;
}

input[placeholder] {
  font-weight: 600;
  color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
