.worker-detail-form-and-buttons {
  display: flex;
  justify-content: space-around;
  background-color: rgb(255, 251, 209);
}

.buttons {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.buttons > * {
  margin-top: 20px;
}

.go-back {
  border: thin solid black;
  text-align: center;
  margin-top: 50px;
}

a {
  text-decoration: none;
  color: black;
}

p {
  margin-top: 20px;
}

input[placeholder] {
  font-weight: 600;
  color: black;
}
